nltk~=3.9.1
scikit-learn~=1.5.2
numpy~=1.26.4
pandas~=2.2.3
matplotlib~=3.9.2
seaborn~=0.13.2
h5py~=3.12.1
gensim~=4.3.3
tensorflow
langchain==0.3.7
langchain-core==0.3.18
langgraph==0.2.48
langchain-openai==0.2.8